#container{
    display: flex;
    border: 2px solid black;
    height: 250px;
    width: 1000px;
    gap: 5px;
}
.box{
    border: 2px solid black;
    width: 250px;
    height:250px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    gap: 4px;

}
.box:nth-child(1){
    background-color: wheat;
    display: flex;
    flex-direction:column;
}
.box:nth-child(2){
    background-color: bisque;
    display: flex;
    flex-direction: row;
}
.box:nth-child(3){
    background-color: beige;
    display: flex;
    flex-direction:column;
}
.box:nth-child(4){
    background-color: navajowhite;
    display: flex;
    flex-direction: row;
}
.part{
    width:250px ;
    height: 125px;
    background-color: palevioletred;
}
.box:nth-child(1)>div,
.box:nth-child(3)>div{
    width:250px;
    height:50%
}
.box:nth-child(2)>div,
.box:nth-child(4)>div{
    width:50%;
    height:150px;
}
.box:nth-child(1)>div>img,
.box:nth-child(3)>div>img{
    height: 250px;
    width:250px;
}
.box:nth-child(2)>div>img,
.box:nth-child(4)>div>img{
    height: 250px;
    width:250px;
}
.box:hover{
    cursor:pointer;
}
